.descriptionBlock {
    padding: 10px;
    display: flex;
}

img {
    width: 1000px;
    height: 180px;
}

.mainBlock {
    padding-bottom: 40px;
}

.name {
    font-size: 45px;
}

.photo {
    padding-right: 50px;
}

.photo img {
    width: 250px;
    height: 250px;
}